:root {
    --primary-color: #695ce5;
    --primary-color-fade: #7568e6;
    --text-secondary-color: rgb(92, 92, 92);
}

::-moz-selection {
    color: #fff;
    background: var(--primary-color);
}

::selection {
    color: #fff;
    background: var(--primary-color);
}

input[type="text"],
textarea {
    height: 40px;
    width: calc(100% - 20px);
    padding: 5px 10px;
    font-size: 0.875rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
    transition: all 0.30s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
    box-shadow: 0 0 5px var(--primary-color);
    border: 1px solid var(--primary-color);
}

input:focus-visible {
    outline-style: none;
}

button {
    height: 52px;
    width: 100%;
    font-size: 0.875rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

button:hover,
button:active,
button:focus {
    background-color: var(--primary-color-fade);

}

form .form-element:not(:last-child) {
    margin-bottom: 30px;
}

.form-item-label {
    /* display: inline-block; */
    margin-bottom: 10px;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 320px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.margin-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-bold {
    font-weight: 700;
}